/* CSS declarations go here */
.searched {
  border: 2px solid orange;
}

.wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.background {
  position: absolute;
  z-index: 0;
  width: 100px;
  height: 100px;
}
.background.selected {
  background-color: #e0e0e0;
}

.fullness {
  position: absolute;
  z-index: 1;
  width: 100px;
  bottom: 0px;
  background-color: lightgreen;
}

.moveFrom {
  border: 1px solid red;
}
.moveTo {
  border: 2px solid blue;
}
.moving:hover {
  border: 2px dashed blue;
}

.wrapper {
  position: relative;
}

.shelf {
  border-collapse: collapse;
  border: 2px solid black;
}

.shelf td {
  border: 2px solid black;
}

.shelf th {
  border: 1px solid black;
}

.pallet {
  position: absolute;
  z-index: 2;
  width: 100px;
  height: 100px;
}

.palletEntry {
  border: 1px dotted blue;
}

#searchbar {
  position: fixed;
  width: 180px;
  top: 5px;
  right: 5px;
}

.menu {
  position: fixed;
  z-index: 100;
  width: 200px;
  top: 40px;
  right: 5px;
  bottom: 5px;
  background-color: lightgray;
  border: 1px solid gray;
}

.logbook {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  right: 210px;
  left: 0px;
  border: 1px solid gray;
}

.logbar {
  width: fill;
  border: 1px solid gray;
  background-color: lightgray;
}

.logcontent {
  height: 120px;
  width: fill;
  background-color: white;
}

.bookout {
  position: fixed;
  z-index: 100;
  width: 700px;
  top: 0px;
  left: 300px;
  border: 1px solid gray;
}

.bookoutbar {
  width: fill;
  border: 1px solid gray;
  background-color: lightgray;
}

.bookoutcontent {
  height: 300px;
  width: fill;
  background-color: white;
}

.add {
  background-color: green;
}

.add.selected {
  background-color: blue;
}

.add-details {
  background-color: yellow;
}

.remove {
  background-color: green;
}

.remove.selected {
  background-color: blue;
}

.remove-details {
  background-color: yellow;
}

.move {
  background-color: green;
}

.move.selected {
  background-color: blue;
}

.move-details {
  background-color: yellow;
}
.hidden {
  display: none;
}